<!DOCTYPE html>
<html>
  <head>
    <title>Lab01</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-sm-2">
      <%= render "shared/left_menu"%>
    </div>
    <div class="main col-sm-10">
    <%= render "shared/top_menu" %>
    <div class = "container">
      <%= yield %>
    </div>
    <div class = "row">

        <div class="panel-footer footer" >1412240-1412246</div>

    </div>
  </div>
  </body>
</html>
