<!DOCTYPE html>
<html>
  <head>
    <title>Lab01</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
          <%= render "shared/top_menu" %>
    </div>
    <div class="row">
      <div class="col-sm-2">
          <%= render "shared/left_menu" %>
      </div>
      <div class="col-sm-10">
        <div class = "container">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class = "row footer">
        <div class="panel-footer  " >1412240-1412246</div>
    </div>
  </body>
</html>
